<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3f17c">  <td>18/02/08 18:25:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewClaimRequestApproved.approvenewclaim(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestApproved@3224f60b]">approvenewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/02/08 18:27:31</td>   <td>132818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClaimsRequestApprovedVerified.approvenewclaim(java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimsRequestApprovedVerified@6737fd8f]">approvenewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:25:05</td>   <td>-12351</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@5f282abb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>18/02/08 18:31:58</td>   <td>400095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewClaimRequestDenied.deniednewclaim(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@5f282abb]">deniednewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>18/02/08 18:34:04</td>   <td>525902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClaimRequestDeniedVerified.deniednewclaim(java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestDeniedVerified@167fdd33]">deniednewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>18/02/08 18:28:07</td>   <td>168961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewClaimRequestMoreInformation.moreInformationnewclaim(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestMoreInformation@48503868]">moreInformationnewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>18/02/08 18:30:22</td>   <td>304368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClaimRequestMoreInformationVerified.moreInformationnewclaim(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestMoreInformationVerified@6895a785]">moreInformationnewclaim</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:25:08</td>   <td>-10251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestApproved@3224f60b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:27:23</td>   <td>124707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimsRequestApprovedVerified@6737fd8f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:27:59</td>   <td>160977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestMoreInformation@48503868]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:30:14</td>   <td>295993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestMoreInformationVerified@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:31:49</td>   <td>391585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@5f282abb]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:33:56</td>   <td>518445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestDeniedVerified@167fdd33]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:34:25</td>   <td>547029</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@5f282abb]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:27:20</td>   <td>122307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestApproved@3224f60b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:27:57</td>   <td>159058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimsRequestApprovedVerified@6737fd8f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:30:12</td>   <td>294004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestMoreInformation@48503868]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:31:47</td>   <td>389450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestMoreInformationVerified@6895a785]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:33:54</td>   <td>516596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@5f282abb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>18/02/08 18:34:23</td>   <td>545157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestDeniedVerified@167fdd33]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
</table>
